Dependencies
/Classes/.vs
/Classes/bin/Debug/net7.0
/Classes/obj
/Classes/.idea
/Inheritance/.vs
/Inheritance/bin/Debug/net7.0
/Inheritance/obj
/Inheritance/.idea
/Amazon/.vs
/Amazon/bin/Debug/net7.0
/Amazon/obj
/Amazon/.idea